{% extends "base.html" %} {% block title %}BL'n'kt{% endblock %} {% block
content %}

<main class="max-h-screen">
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"
                src="https://picsum.photos/720/600">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Microdosing synth tattooed
                    vexillologist</h1>
                <p class="mb-8 leading-relaxed">Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing
                    tousled. Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami
                    snackwave tilde chillwave ugh. Pour-over meditation PBR&B pickled ennui celiac mlkshk freegan photo
                    booth af fingerstache pitchfork.</p>
                <div class="flex justify-center">
                    <button
                        class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Button</button>
                    <button
                        class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
                </div>
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% for i in range((all_prod)|length) %}
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a class="block h-48 rounded overflow-hidden" href="/product/{{all_prod[i][3]}}">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" id="prod_img"
                            src="https://picsum.photos/420/260">
                    </a>
                    <a href="/product/{{all_prod[i][3]}}">
                        <div class="mt-4">
                            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1" id="prod_dis">
                                {{ all_prod[i][2] }}% Off
                            </h3>
                            <h2 class="text-gray-900 title-font text-lg font-medium" id="prod_name">{{ all_prod[i][0] }}
                            </h2>
                            <p class="mt-1" id="prod_price">{{ all_prod[i][1] }} Rs
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}