<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BL'n'kt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark text-light navbar-dark py-3">
        <div class="container">
            <a href="/service_emp_dashboard" class="navbar-brand">
                BL'n'kt
            </a>
        </div>
        <div class="align-end mx-5">
            <a href="/api/emp_logout" class="navbar-nav">
                Logout
            </a>
        </div>
    </nav>

    {% for mesg in get_flashed_messages() %}
    <h1 class="h1 text-info bg-dark m-0 text-center"> {{ mesg }} </h1>
    {% endfor %}
    <!--Heading-->
    <section class="bg-dark text-light p-5 text-sm-start">
        <h1 class="text-center">
            Unresolved Complaints
        </h1> 
    </section>
    
    <br class = "bg-dark">


    <!--Complaints-->
    <section>

        <!--Form for submission-->
        <form method = "POST" action={{ url_for('vend_login') }}>
            <input type="hidden", id = "identifier" value = "order_identifier">
        </form>


        {% for complaint in complaint_list %}

        <div class ="container bg-light text-dark m-0 ps-5">
            <div class="row bg-warning m-0">
                <div class="col-sm-9 m-0">
                    <div class="row">
                        <div class="col-sm-8">Order ID:</div>
                        <div class="col-sm-4"> {{ complaint[0] }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">Query: </div>
                        <div class="col-sm-4"> {{ compliant[1] }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">Date: </div>
                        <div class="col-sm-4"> {{ compliant[2] }} </div>
                    </div>
                </div>
                <div class="col-sm-3 m-0">
                    <div class="row">
                        <h6 class="text-primary">Mark as Resolved?</h6>
                    </div>
                    <div class="row">
                        <form>
                        <input type="hidden" name="form-name" value={{ complaint[0] }}>
                        <button class="button bg-success text-light">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <br class = "bg-dark">
        
            {% endfor %}
    </section>
    
</body>